body {
  background: linear-gradient(114deg, #285e81 30%, #298dc5 80%);
  color: #fdfff5;
  height: 100vh;
  font-family: "Visitor TT1 BRK";
  font-size: 23px;
  text-shadow: rgb(0, 0, 0) -2px -2px 0, rgb(0, 0, 0) 2px -2px 0,
    rgb(0, 0, 0) -2px 2px 0, rgb(0, 0, 0) 2px 2px 0,
    rgb(255, 255, 255) 0px 0px 0px;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}
.game {
  text-align: center;
  display: block;
  max-width: 600px;
  margin: 0 auto;
  padding: 0px 10px 0px 0px;
  &__max-click {
    font-size: 23px;
    margin: 50px 0 0 0;
    text-shadow: rgb(0, 0, 0) -2px -2px 0, rgb(0, 0, 0) 2px -2px 0,
      rgb(0, 0, 0) -2px 2px 0, rgb(0, 0, 0) 2px 2px 0,
      rgb(255, 255, 255) 0px 0px 0px;
    img {
      margin: 0px 0px -15px 0px;
    }
  }
}

.clicker-content {}

.levels {
  border: 4px solid #e1e1e1;
  padding: 10px 20px;
  background: rgb(1, 145, 145);
}
.levels-content{
}

@media(max-width: 1023px){
  .wrapper{
    flex-direction: column;
  }
  .levels{
    margin: 20px 0px 0px 0px;
  }
  .levels-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
